# Fitting a Logistic Regression Model - Lab

## Introduction
You were previously given a broad overview of logistic regression. This included two separate packages for creating logistic regression models. In this lab, you'll be investigating fitting logistic regressions with statsmodels.



## Objectives

You will be able to:
* Implement logistic regression with statsmodels
* Interpret the statistical results associated with regression model parameters

## Review

The statsmodels example we covered had four essential parts:
* Importing the data
* Defining X and y
* Fitting the model
* Analyzing model results

The corresponding code to these four steps was:

```
import pandas as pd
import statsmodels.api as sm

#Step 1: Importing the data
salaries = pd.read_csv("salaries_final.csv", index_col = 0)

#Step 2: Defining X and y
x_feats = ["Race", "Sex", "Age"]
X = pd.get_dummies(salaries[x_feats], drop_first=True, dtype=float)
y = pd.get_dummies(salaries["Target"], dtype=float)

#Step 3: Fitting the model
X = sm.add_constant(X)
logit_model = sm.Logit(y.iloc[:,1], X)
result = logit_model.fit()

#Step 4: Analyzing model results
result.summary()
```

Most of this should be fairly familiar to you; importing data with Pandas, initializing a regression object, and calling the fit method of that object. However, step 2 warrants a slightly more in depth explanation.

Recall that we fit the salary data using `Race`, `Sex`, and `Age`. Since `Race` and `Sex` are categorical, we converted them to dummy variables using the `get_dummies()` method. The ```get_dummies()``` method will only convert `object` and `category` data types to dummy variables so it is safe to pass `Age`. Note that we also passed two additional arguments, ```drop_first=True``` and ```dtype=float```. The ```drop_first=True``` argument removes the first level for each categorical variable and the ```dtype=float``` argument converts the data type of all of the dummy variables to float. The data must be float in order to obtain accurate statistical results from statsmodel. Finally, note that y itself returns a pandas DataFrame with two columns as y itself was originally a categorical variable. With that, it's time to try and define a logistic regression model on your own!

## Your Turn - Step 1: Import the Data

Import the data stored in the file **titanic.csv**.

In [1]:
# Your code here
import pandas as pd

df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Step 2: Define X and Y

For your first foray into logistic regression, you are going to attempt to build a model that classifies whether an individual survived the Titanic shipwreck or not (yes it's a bit morbid). Follow the programming patterns described above to define X and y.

In [15]:
# Your code here
x_feats = ["Pclass", "Sex", "SibSp", "Parch", "Fare", "Embarked"]
X = pd.get_dummies(df[x_feats], drop_first=True, dtype=float)
y = pd.DataFrame(df["Survived"], dtype=float)

In [16]:
X.head()

   Pclass  SibSp  Parch     Fare  Sex_male  Embarked_Q  Embarked_S
0       3      1      0   7.2500       1.0         0.0         1.0
1       1      1      0  71.2833       0.0         0.0         0.0
2       3      0      0   7.9250       0.0         0.0         1.0
3       1      1      0  53.1000       0.0         0.0         1.0
4       3      0      0   8.0500       1.0         0.0         1.0

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
const         891 non-null float64
Pclass        891 non-null int64
Age           714 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Sex_male      891 non-null float64
Embarked_Q    891 non-null float64
Embarked_S    891 non-null float64
dtypes: float64(6), int64(3)
memory usage: 62.7 KB

In [11]:
y.head()

   Survived
0       0.0
1       1.0
2       1.0
3       1.0
4       0.0

## Step 3: Fit the model

Now with everything in place, initialize a regression object and fit your model!

### Warning: If you receive an error of the form "LinAlgError: Singular matrix"

Statsmodels was unable to fit the model due to some Linear Algebra problems. Specifically, the matrix was not invertible due to not being full rank. In layman's terms, there was a lot of redundant, superfluous data. Try removing some features from the model and running it again.

In [17]:
# Your code here
import statsmodels.api as sm
X = sm.add_constant(X)
logit_model = sm.Logit(y, X)
result = logit_model.fit()

Optimization terminated successfully.
         Current function value: 0.455822
         Iterations 6

## Step 4: Analyzing results

Generate the summary table for your model. Then, comment on the p-values associated with the various features you chose.

In [18]:
# Your code here
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      883
Method:                           MLE   Df Model:                            7
Date:                Mon, 21 Oct 2019   Pseudo R-squ.:                  0.3155
Time:                        00:57:49   Log-Likelihood:                -406.14
converged:                       True   LL-Null:                       -593.33
                                        LLR p-value:                 7.399e-77
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.5081      0.417      8.410      0.000       2.691       4.326
Pclass        -0.8405      0.130     -6.446      0.000      -1.096      -0.585
SibSp         -0.2343      0.101     -2.315      0.021      -0.433      -0.036
Parch         -0.0738      0.114     -0.645      0.519      -0.298       0.150
Fare           0.0025      0.002      1.037      0.300      -0.002       0.007
Sex_male      -2.7329      0.198    -13.815      0.000      -3.121      -2.345
Embarked_Q    -0.2080      0.372     -0.559      0.576      -0.937       0.521
Embarked_S    -0.4697      0.229     -2.047      0.041      -0.919      -0.020
==============================================================================
"""

## Your analysis here

## Level - up

Create a new model, this time only using those features you determined were influential based on your analysis in step 4.

In [21]:
# Your code here
x_feats_relevant = ["Pclass", "Sex", "SibSp"]
X = pd.get_dummies(df[x_feats_relevant], drop_first=True, dtype=float)
X = sm.add_constant(X)
logit_model = sm.Logit(y, X)
result = logit_model.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.459774
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                          Logit   Df Residuals:                      887
Method:                           MLE   Df Model:                            3
Date:                Mon, 21 Oct 2019   Pseudo R-squ.:                  0.3096
Time:                        01:00:16   Log-Likelihood:                -409.66
converged:                       True   LL-Null:                       -593.33
                                        LLR p-value:                 2.627e-79
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.4336      0.305     11.241      0.000       2.835       4.032
Pclass        -0.9390      0.106     -8.819      0.000      -1.148      -0.730
SibSp         -0.2481      0.095     -2.624      0.009      -0.433      -0.063
Sex_male      -2.7431      0.190    -14.416      0.000      -3.116      -2.370
==============================================================================
"""

## Summary 

Well done! In this lab, you practiced using statsmodels to build a logistic regression model. You then reviewed interpreting the results, building upon your previous stats knowledge, similar to linear regression. Continue on to take a look at building logistic regression models in Sci-kit learn!